@media print {
    .sidebar, .page-header, .print-btn-container {
        display: none !important;
    }
    .main-content {
        margin-left: 0 !important;
        width: 100% !important;
        margin-top: 0 !important;
    }
    .page-content-wrapper {
        padding: 0 !important;
    }
    .certificate-container {
        box-shadow: none !important;
        border: 1px solid #000;
        padding: 2cm;
        margin: 0;
        min-height: auto;
    }
}

.certificate-container {
    background: #fff;
    padding: 40px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    max-width: 800px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #333;
    text-align: center;
    position: relative;
}

.cert-main-title {
    color: #0F280B;
    font-size: 2.2em;
    font-weight: 700;
    margin: 0 0 40px 0;
    letter-spacing: 1px;
}

.cert-seal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-image: url('../img/ccs_logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 1;
}

.cert-content-block {
    width: 85%;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    z-index: 2;
}

.cert-content-block strong {
    color: #0F280B;
    font-weight: 700;
}

.dynamic-data {
    font-size: 1.25em;
    font-weight: 700;
    display: block;
    margin: 5px 0;
}

.signature-area {
    width: 80%;
    margin-top: 100px;
    text-align: center;
    z-index: 2;
}
.signature-line {
    border-top: 2px solid #333;
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
}
.signature-area p {
    margin: 5px 0 0 0;
    font-size: 1.1em;
    font-weight: 600;
    color: #0F280B;
}